.triggered-ability {
  width: 450px;
  height: 250px;
  margin: 0 0 0 -80px;
  padding: 5px;
  font-size: xx-large;
  background-color: rgba(250, 235, 215, .9);
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
}