@import '../constants';

header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  background-color: $header-background-color;

  #logo {
    margin-left: 10px;
    display: flex;

    h1 {
      font-size: 24px;
      margin: auto;
    }
  }

  #menu-bar {
    display: flex;
    justify-content: flex-end;

    nav {
      height: $header-height;
      min-width: 80px;
      text-align: center;

      a, span {
        line-height: $header-height;
      }
    }

    nav:hover {
      background-color: $nav-hover-background-color;
    }

    .welcome {
      margin-right: 10px;
    }
  }
}
