# Ignore NPM files
node/
node_modules/
yarn-error.log
js/

# Ignore binaries
bin/
target/

# Ignore IntelliJ files
.idea
*.iml

# Ignore MacOS files
.DS_Store

# Ignore Eclipse files
.project
.classpath
org.eclipse.*.prefs

