/.idea
/mtg.iml
.DS_Store

/game/game.iml
/game/node_modules
/game/node
/game/yarn-error.log
/game/src/main/resources/public/js/
/game/target

/admin/admin.iml
/admin/node
/admin/node_modules
/admin/target
