/.idea
/matag.iml
.DS_Store

/admin/admin.iml
/admin/node
/admin/node_modules
/admin/yarn-error.log
/admin/src/main/resources/public/js/
/admin/target

/cards/cards.iml
/cards/target

/game/game.iml
/game/node_modules
/game/node
/game/yarn-error.log
/game/src/main/resources/public/js/
/game/target

/utils/utils.iml
/utils/target
