/* Global */
$body-background-color: #292a2b;
$body-text-color: #afafaf;
$link-text-color: #92b4f3;
$error-text-color: #ff7597;

body {
  background-color: $body-background-color;
  color: $body-text-color;
  box-sizing: border-box;
  outline: none;
  font-size: large;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  color: $link-text-color;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button, input[type=button], input[type=submit], input[type=reset], label {
  cursor: pointer;
}

select {
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 $body-text-color;
}

textarea {
  resize: none;
}

.error {
  color: $error-text-color;
}

.fullscreen-loader {
  width: 100%;
  height: 100%;

  div {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Form  */
@media screen and (min-width: 600px) {
  .matag-form .grid {
    display: grid;
    grid-gap: 1.5rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }

  .matag-form .grid-label-value {
    grid-template-columns: 1fr 3fr;
  }

  .matag-form .three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.matag-form select,
.matag-form input,
.matag-form textarea,
.matag-form button {
  width: 100%;
  line-height: 1.5;
  padding: 10px 10px;
  border: 1px solid hsl(0, 0%, 10%);
  color: $body-text-color;
  background: hsl(0, 0%, 14%);
}

.matag-form label {
  line-height: 1.5;
  padding: 10px 10px;
  display: inline-block;
}

.matag-form textarea {
  height: 170px;
}

.matag-form ::placeholder {
  color: inherit;
  opacity: 1;
}

.matag-form select:focus,
.matag-form input:focus,
.matag-form textarea:focus,
.matag-form button:focus {
  border: 1px solid hsl(0, 0%, 14%);
  background: hsl(0, 0%, 18%);
}

.matag-form input[type=button]:enabled:hover,
.matag-form input[type=submit]:enabled:hover,
.matag-form input[type=reset]:enabled:hover {
  border: 1px solid hsl(0, 0%, 14%);
  background: hsl(0, 0%, 18%);
}