$body-background-color: #292a2b;
$page-background-color: #272829;
$card-background-color: #202122;
$input-background-color: #2E2E2E;
$input-border-color: #242424;
$input-enhanced-background-color: #242424;
$input-enhanced-border-color: #202020;

$body-text-color: #afafaf;
$link-text-color: #92b4f3;
$error-text-color: #ff7597;

$big-screen: 1200px;

$header-height: 50px;
$header-background-color: #242425;
$nav-hover-background-color: #1d1d1e;