#turn-phases {
  position: absolute;
  background-image: url('../../../resources/public/img/materials/silver.jpg');
  right: 0;
  bottom: 44%;
  width: 470px;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  padding-left: 5px;
  padding-right: 5px;
  transform-style: preserve-3d;
  transform: translateZ(20px);

  span {
    padding: 6px;
    margin: 6px;
    display: inline-block;
    background-color: darkolivegreen;
    width: 50px;
    text-align: center;
  }

  span.active {
    background-color: lawngreen;
  }

  span.active-for-player:before {
    content: url(../../../resources/public/img/ui/arrow-down.gif);
    position: absolute;
    bottom: -20%;
    left: 43%;
  }

  span.active-for-opponent:before {
    content: url(../../../resources/public/img/ui/arrow-up.gif);
    position: absolute;
    top: -20%;
    left: 43%;
  }
}

#turn-phases::after {
  content: '';
  position: absolute;
  background-image: url('../../../resources/public/img/materials/silver.jpg');
  right: 0;
  bottom: -5px;
  width: 100%;
  height: 20px;
  background-color: #637485;
  transform: rotateX(-90deg) translateY(10px);
  filter: brightness(70%);
}

#turn-phases::before {
  content: '';
  position: absolute;
  background-image: url('../../../resources/public/img/materials/silver.jpg');
  left: -10px;
  bottom: 0;
  width: 20px;
  height: 100%;
  background-color: #6d7e8f;
  transform: rotateY(90deg) translateX(5px);
  filter: brightness(85%);
}
