#status-message {
  position: absolute;
  bottom: 10px;
  width: 90%;
  min-height: 24px;
  left: 3%;
  z-index: 9;
  background-color: darkgrey;
  padding: 2px 10px 2px 10px;
  border: 1px solid black;
  font-size: large;
}