#user-actions {
  position: absolute;
  width: 50px;
  height: 200px;
  bottom: 30px;
  left: 0;
  z-index: 9;

  button {
    width: 50px;
    height: 50px;
    background-color: skyblue;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-left: -5px;
    font-size: x-large;
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
    background-color: cadetblue;
  }
}

#connection-status {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

#connection-status.connected {
  background-color: green;
}

#connection-status.disconnected {
  background-color: firebrick;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
