body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#app {
  perspective: 1500px;
  perspective-origin: 50%;
  height: 100%;
  overflow: hidden;
}

#table {
  background-image: url("../../resources/public/img/materials/wood.jpg");
  position: absolute;
  width: 180%;
  left: -40%;
  height: 200%;
  bottom: -35%;
  z-index: 0;
  transform: rotateX(45deg) scale(1, 1) translateY(-1200px) translateZ(-1000px);
  transform-style: preserve-3d;
}

#table:after {
  content: '';
  background-image: url("../../resources/public/img/materials/wood.jpg");
  position: absolute;
  width: 100%;
  height: 160px;
  bottom: -40px;
  z-index: 0;
  transform: rotateX(-90deg) translateY(80px) translateZ(40px);
  filter: brightness(50%);
}

#modal-container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .6;
}

#popup {
  position: absolute;
  z-index: 12;
  top: 20%;
  left: 25%;
  width: 50%;
  background-color: darkgrey;
  padding: 2em;
  border: 1px solid black;
  font-size: large;
  opacity: 1;
}

#popup-close {
  position: absolute;
  font-size: x-large;
  top: 2px;
  right: 8px;
  cursor: pointer;
}
