#play {
  margin-top: 3rem;
}

#play-form {
  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin-left: 3rem;

      img {
        padding-left: 2px;
        padding-right: 5px;
      }
    }
  }

  .message {
    text-align: center;

    .error {
      margin-right: 1rem;
    }
  }
}

.active-game {
  margin: 2rem;

  .message {
    text-align: center;

    .error {
      margin-right: 1rem;
    }
  }
}