body {
  background-color: black;
  margin: 0;
  padding: 0;
  perspective: 1500px;
  perspective-origin: 50% 50%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  position: relative;
  float: left;
  width: 180px;
  height: 250px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}

.tapped {
  transform: rotateZ(90deg);
}

#player-hand {
  bottom: 20px;
  z-index: 2;
}

#opponent-hand {
  top: -120px;
  transform: scale(0.5,0.5);
  z-index: 1;
}

.hand {
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100%;
}

#player-land-area {
  bottom: 10%;
}

#opponent-land-area {
  position: absolute;
  top: 10%;
  transform: rotate(180deg);
}

.land-area {
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100%;
}

#player-library {
  bottom: 30%;
}

#opponent-library {
  top: 30%;
}

.player-library {
  position: absolute;
  left: 10%;
}

#player-library .card, #opponent-library .card{
  margin: 0;
}

#player-library .card-bottom-thickness, #opponent-library .card-bottom-thickness {
  background-color: #1E211A;
  position: absolute;
  width: 180px;
  transform-style: preserve-3d;
}

#player-library .card-right-thickness, #opponent-library .card-right-thickness {
  background-color: #252821;
  position: absolute;
  height: 250px;
  transform-style: preserve-3d;
}

#player-info {
  bottom: 35%;
}

#opponent-info {
  top: 40%;
}

.player-info {
  position: absolute;
  transform-style: preserve-3d;
  background-image: url("/img/materials/paper.jpg");
  width: 12%;
  height: 40px;
  right: 1%;
  transform: rotateX(-35deg) translateZ(20px);
  padding: 10px 20px 10px 20px;
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-info.active-player span:first-child {
  text-decoration: underline;
}

.player-info.inactive-player {
  color: grey;
}

#player-info:after, #opponent-info:after {
  content: '';
  position: absolute;
  transform-style: preserve-3d;
  background-image: url("/img/materials/paper.jpg");
  filter: brightness(50%);
  width: 100%;
  height: 40px;
  bottom: 40px;
  left: 0;
  transform: rotateX(-60deg) translateY(20px);
}

#turn-phases {
  position: absolute;
  background-image: url('/img/materials/silver.jpg');
  right: 0;
  bottom: 44%;
  width: 30%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  padding-left: 5px;
  padding-right: 5px;
  transform-style: preserve-3d;
  transform: translateZ(10px);
}

#turn-phases::after {
  content: '';
  position: absolute;
  background-image: url('/img/materials/silver.jpg');
  right: 0;
  bottom: -5px;
  width: 100%;
  height: 10px;
  background-color: #637485;
  transform: rotateX(-90deg) translateY(5px);
  filter: brightness(70%);
}

#turn-phases::before {
  content: '';
  position: absolute;
  background-image: url('/img/materials/silver.jpg');
  left: -5px;
  bottom: 0;
  width: 10px;
  height: 100%;
  background-color: #6d7e8f;
  transform: rotateY(90deg) translateX(5px);
  filter: brightness(85%);
}

#turn-phases span {
  padding: 6px;
  margin: 6px;
  display: inline-block;
  cursor: pointer;
}

#turn-phases span.enabled {
  background-color: darkolivegreen;
}

#turn-phases span.enabled.active {
  background-color: lawngreen;
}

#turn-phases span.disabled {
  background-color: indianred;
}

#turn-phases span.disabled.active {
  background-color: orangered;
}

#turn-phases span:hover {
  background-color: yellow !important;
}

#turn-phases span.active-for-player:before {
  content: 'o';
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-left: 10px;
}

#turn-phases span.active-for-opponent:before {
  content: 'o';
  position: absolute;
  top: 0;
  text-align: center;
  margin-left: 10px;
}

#table {
  background-image: url("/img/materials/wood.jpg");
  position: absolute;
  width: 180%;
  left: -40%;
  height: 200%;
  bottom: -35%;
  z-index: 0;
  transform: rotateX(45deg) scale(0.5, 0.5);
  transform-style: preserve-3d;
}

#table:after {
  content: '';
  background-image: url("/img/materials/wood.jpg");
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: -40px;
  z-index: 0;
  transform: rotateX(-90deg) translateY(40px);
  filter: brightness(50%);
}

#message {
  position: absolute;
  z-index: 3;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 30%;
  background-color: darkgrey;
  padding: 2em;
  border: 1px solid black;
  font-size: large;
}