body {
  background-color: black;
  margin: 0;
  padding: 0;
  perspective: 1500px;
  perspective-origin: 50% 50%;
  overflow: hidden;
}

.card {
  position: relative;
  float: left;
  width: 180px;
  height: 250px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}

.tapped {
  transform: rotateZ(90deg);
}

#player-hand {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  justify-content: center;
  display: flex;
  width: 100%;
}

#player-land-area {
  position: absolute;
  bottom: 10%;
  justify-content: center;
  display: flex;
  width: 100%;
}

#player-library {
  position: absolute;
  bottom: 30%;
  left: 5%;
}

#player-library .card {
  margin: 0;
}

#player-library .card-bottom-thickness {
  background-color: #252821;
  position: absolute;
  width: 180px;
  transform-style:preserve-3d;
}

#player-library .card-right-thickness {
  background-color: #252821;
  position: absolute;
  height: 250px;
  transform-style:preserve-3d;
}

#opponent-hand {
  position: absolute;
  top: -120px;
  transform: scale(0.5,0.5);
  z-index: 1;
  justify-content: center;
  display: flex;
  width: 100%;
}

#opponent-land-area {
  position: absolute;
  top: 10%;
  transform: rotate(180deg);
  justify-content: center;
  display: flex;
  width: 100%;
}

#opponent-library {
  position: absolute;
  right: 5%;
  top: 30%;
  transform: rotate(180deg);
}

#table {
  background-image: url("/img/wood-texture.jpg");
  border: 1px solid saddlebrown;
  position: absolute;
  width: 160%;
  left: -30%;
  height: 200%;
  bottom: -35%;
  z-index: 0;
  transform: rotateX(45deg) scale(0.5, 0.5);
  transform-style:preserve-3d;
}

#table:after {
  content: '';
  background-image: url("/img/wood-texture.jpg");
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -48px;
  z-index: 0;
  transform: rotateX(-45deg) translateZ(-20px);
}

#message {
  position: absolute;
  z-index: 3;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 30%;
  background-color: darkgrey;
  padding: 2em;
  border: 1px solid black;
}