body {
  background-color: black;
  margin: 0;
  padding: 0;
  perspective: 1500px;
  perspective-origin: 50% 50%;
  overflow: hidden;
}

.card {
  position: relative;
  float: left;
  width: 180px;
  height: 250px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}

.tapped {
  transform: rotateZ(90deg);
}

#player-hand {
  bottom: 20px;
  z-index: 2;
}

#opponent-hand {
  top: -120px;
  transform: scale(0.5,0.5);
  z-index: 1;
}

.hand {
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100%;
}

#player-land-area {
  bottom: 10%;
}

#opponent-land-area {
  position: absolute;
  top: 10%;
  transform: rotate(180deg);
}

.land-area {
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100%;
}

#player-library {
  bottom: 30%;
}

#opponent-library {
  top: 30%;
}

.player-library {
  position: absolute;
  left: 10%;
}

#player-library .card, #opponent-library .card{
  margin: 0;
}

#player-library .card-bottom-thickness, #opponent-library .card-bottom-thickness {
  background-color: #252821;
  position: absolute;
  width: 180px;
  transform-style:preserve-3d;
}

#player-library .card-right-thickness, #opponent-library .card-right-thickness {
  background-color: #252821;
  position: absolute;
  height: 250px;
  transform-style:preserve-3d;
}

#player-info {
  bottom: 35%;
}

#opponent-info {
  top: 35%;
}

.player-info {
  position: absolute;
  transform-style: preserve-3d;
  background-color: lightgray;
  width: 300px;
  height: 40px;
  right: 50px;
  transform: rotateX(-35deg) translateZ(20px);
  padding: 10px 20px 10px 20px;
  font-size: xx-large;
  justify-content: space-between;
  display: flex;
}

#player-info:after, #opponent-info:after {
  content: '';
  position: absolute;
  transform-style: preserve-3d;
  background-color: darkgrey;
  width: 100%;
  height: 40px;
  bottom: 40px;
  left: 0;
  transform: rotateX(-60deg) translateY(20px);
}

#table {
  background-image: url("/img/wood-texture.jpg");
  position: absolute;
  width: 180%;
  left: -40%;
  height: 200%;
  bottom: -35%;
  z-index: 0;
  transform: rotateX(45deg) scale(0.5, 0.5);
  transform-style:preserve-3d;
}

#table:after {
  content: '';
  background-image: url("/img/wood-texture.jpg");
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: -40px;
  z-index: 0;
  transform: rotateX(-90deg) translateY(40px);
  opacity: 0.5;
}

#message {
  position: absolute;
  z-index: 3;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 30%;
  background-color: darkgrey;
  padding: 2em;
  border: 1px solid black;
  font-size: large;
}