#login-container {
  max-width: 800px;

  .login-buttons {
    margin-top: .5rem;

    .or {
      text-align: center;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
  }

  .spinner-container {
    text-align: center;
  }
}