$tapped-rotation: 90deg;
$tapped-does-not-untap-next-turn-rotation: 110deg;
$front-end-tapped-rotation: 75deg;
$shadow-color: rgba(0, 0, 0, 0.4);

.card {
  position: relative;
  float: left;
  width: 180px;
  height: 250px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 4.75% / 3.5%;
  border-radius: 4.75% / 3.5%;
  cursor: pointer;
  transition-duration: 0.5s;
  z-index: 1;
  transform-style: preserve-3d;
}

.card:hover {
  z-index: 8 !important;
}

.summoning-sickness {
  background-image: url("/img/modifiers/summoning-sickness.png");
  width: 120px;
  height: 120px;
  position: absolute;
  left: 25px;
  top: 50px;
}

.power-toughness {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 1px solid black;
  padding: 1px 4px;
  font-size: xx-large;
}

.damage {
  position: absolute;
  bottom: 40px;
  right: 0;
  background-color: yellow;
  color: darkred;
  border: 1px solid black;
  padding: 1px 4px;
  font-size: xx-large;
}

$counter-size: 36px;
.counters {
  position: absolute;
  top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .counter {
    transform-style: preserve-3d;
    font-size: xx-large;
    width: $counter-size;
    height: $counter-size;
    text-align: center;
    vertical-align: middle;
    transform: translateZ(18px);
  }

  .counter:after {
    content: '';
    position: absolute;
    width: $counter-size;
    height: ($counter-size / 2);
  }

  .keyword-counter {
    background-color: white;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
  }

  .plus-1-counter {
    background-color: green;
    color: white;
  }

  .keyword-counter:after {
    background-color: darkgrey;
  }

  .plus-1-counter:after {
    background-color: darkgreen;
  }
}

#player-battlefield .counter:after {
  transform: translateX(-27px) translateY(25px) translateZ(-9px) rotateX(90deg);
}

#opponent-battlefield .counter:after {
  transform: translateX(-26px) translateY(-28px) translateZ(-9px) rotateX(90deg);
}

.frontend-blocking {
  margin-bottom: 100px;
}

.selected {
  border: lightskyblue 6px solid;
}

#player-battlefield .flying {
  box-shadow: 20px 60px 4px $shadow-color;
  transform: translateY(-40px);
  z-index: 2;
}

#opponent-battlefield .flying {
  box-shadow: -20px -60px 4px $shadow-color;
  transform: translateY(40px);
  z-index: 2;
}

.targeted {
  background-color: rgb(255, 255, 100);
  background-blend-mode: multiply;
}

#player-battlefield .tapped, #opponent-battlefield .tapped {
  transform: rotateZ($tapped-rotation);
  margin-right: 40px;
  margin-left: 40px;
}

#player-battlefield .tapped.flying {
  transform: rotateZ($tapped-rotation) translateX(-40px);
  box-shadow: 60px -20px 4px $shadow-color;
}

#opponent-battlefield .tapped.flying {
  transform: rotateZ($tapped-rotation) translateX(40px);
  box-shadow: -60px 20px 4px $shadow-color;
}

#player-battlefield .tapped-does-not-untap-next-turn, #opponent-battlefield .tapped-does-not-untap-next-turn {
  transform: rotateZ($tapped-does-not-untap-next-turn-rotation);
  margin-right: 40px;
  margin-left: 40px;
}

#player-battlefield .tapped-does-not-untap-next-turn.flying {
  transform: rotateZ($tapped-does-not-untap-next-turn-rotation) translateX(-40px);
  box-shadow: 60px -20px 4px $shadow-color;
}

#opponent-battlefield .tapped-does-not-untap-next-turn.flying {
  transform: rotateZ($tapped-does-not-untap-next-turn-rotation) translateX(40px);
  box-shadow: -60px 20px 4px $shadow-color;
}

#player-battlefield .frontend-tapped, #opponent-battlefield .frontend-tapped {
  transform: rotateZ($front-end-tapped-rotation);
}

#player-battlefield .frontend-tapped.flying {
  transform: rotateZ($front-end-tapped-rotation) translateZ(20px);
  box-shadow: 55px -15px 4px $shadow-color;
}

#maximized-card {
  z-index: 11;
  position: absolute;
  width: 540px;
  height: 750px;
  left: 50%;
  top: 50%;
  margin-left: -270px;
  margin-top: -375px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 4.75% / 3.5%;
  border-radius: 4.75% / 3.5%;
}
