# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: 25
      - name: Create settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "<settings><servers><server><id>github-matag-cards</id><username>MatagTheGame</username><password>${GITHUB_TOKEN}</password></server><server><id>github-matag-admin-entities</id><username>MatagTheGame</username><password>${GITHUB_TOKEN}</password></server></servers></settings>" > ~/.m2/settings.xml
      - name: Build with Maven
        run: mvn clean install -DskipTests
      - name: Test with Maven
        run: mvn test -Dwebdriver.chrome.driver=/usr/local/share/chrome_driver/chromedriver -Dwebdriver.chrome.headless=true -DexcludedGroups="Regression"


  regression-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: 25
      - name: Create settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "<settings><servers><server><id>github-matag-cards</id><username>MatagTheGame</username><password>${GITHUB_TOKEN}</password></server><server><id>github-matag-admin-entities</id><username>MatagTheGame</username><password>${GITHUB_TOKEN}</password></server></servers></settings>" > ~/.m2/settings.xml
      - name: Build with Maven
        run: mvn clean install -DskipTests
      - name: Test with Maven
        run: mvn test -Dwebdriver.chrome.driver=/usr/local/share/chrome_driver/chromedriver -Dwebdriver.chrome.headless=true -Dgroups="Regression"
